{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>Hello World</h1>
    <h2>There is {{ data.cars.size }} cars.</h2>


    <div class="col center justify m-5">

        {% for c in data.cars.data %}
            <div class="row m-2 p-2 border">
                <div class="col px-1">{{ c.name }}</div>
                <div class="col px-1">{{ c.maker }}</div>
                <div class="col px-1">{{ c.price }} €</div>
            </div>
        {% endfor %}

    </div>
{% endblock %}