{% extends "base.html" %}

{% block title %}Car Ride{% endblock %}


{% block main %}

    <div class="m-2">
        <form method="post">
            <p>From : <input value="45.764043" min="0" name="from_latitude"> ; <input value="4.835659" min="0" name="from_longitude"></p>
            <p>To : <input value="43.296482" min="0" name="to_latitude"> ; <input value="5.36978" min="0" name="to_longitude"></p>

            <p>Car name :
                <input value="{{ data.cars[0].name }}" name="car_name">
            </p>

            <div class="row m-2 p-2">
                <input class="col px-1 mx-1" type="submit" value="Test" formaction="{{ url_for("Ride.car_ride") }}">
            </div>
        </form>
    </div>

    <div class="border m-1 p-4">
        <div class="row py-3">
            <h4 class="col border">Car</h4>
            <h4 class="col border">Charge Time</h4>
            <h4 class="col border">Autonomy</h4>
        </div>

        {% for car in data.cars %}
            <div class="row">
                <div class="col border">{{ car.name }}</div>
                <div class="col border">{{ car.charge_time }}</div>
                <div class="col border">{{ car.range }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}