{% extends "base.html" %}

{% block title %}Distance{% endblock %}


{% block main %}

    <div class="m-2">
        <form method="post">
            <p>From : <input value="0" min="0" name="from_latitude"> ; <input value="0" min="0" name="from_longitude"></p>
            <p>To : <input value="0" min="0" name="to_latitude"> ; <input value="0" min="0" name="to_longitude"></p>

            <div class="row m-2 p-2">
                <input class="col px-1 mx-1" type="submit" value="" formaction="{{ url_for("Ride.distance") }}">
            </div>
        </form>
    </div>

{% endblock %}