{% extends "base.html" %}


{% block title %}Services{% endblock %}


{% block main %}

    <div class="m-2">
        <form method="post">
            <p>Car autonomy: <input value="0" min="0" name="car_autonomy"></p>
            <p>Charge Time: <input value="0" min="0" name="car_charge_time"></p>
            <p>Journey lenght: <input value="0" min="0" name="length"></p>

            <div class="row m-2 p-2">
                {% for service in data.services %}
                    <input class="col px-1 mx-1" type="submit" value="{{ service.name }}" formaction="{{ service.url }}">
                {% endfor %}
            </div>
        </form>
    </div>


    <div class="border m-1 p-4">
        <div class="row py-3">
            <h4 class="col border">Car</h4>
            <h4 class="col border">Charge Time</h4>
            <h4 class="col border">Autonomy</h4>
        </div>

        {% for car in data.cars.data %}
            <div class="row">
                <div class="col border">{{ car.name }}</div>
                <div class="col border">{{ car.charge_time }}</div>
                <div class="col border">{{ car.range }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}